* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    width: 100%;
    display: flex;
    justify-content: center;
}

body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

html {
    font-size: 10px;
    width: 100%;
    background-color: rgba(14, 14, 14, 1);
}

a {
    color: black;
    text-decoration: none;
}